{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'teacher-assignment.css'%}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <header class="header" style="background-color: white;">
        <nav class="nav-items" style="background-color: white;">
            <a href="home"><img src="{% static 'img/download.jpg' %}" style="width:100%; background-color:white;"></a>
        </nav>
    </header>
<table class="table">
    <tr>
        <th>Assignment Name</th>
        <th>Assignment details</th>
        <th>Class details</th>
    </tr>
    {% for i in data%}
        <tr>
            <td>{{i.assignmentname}}</td>
            <td>{{i.assignmentdetails}}</td>
            <td>{{i.classdetails}}</td>
        </tr>
    {%endfor%}
</table>

    </form>
</body>
</html> 