{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher registration page</title>
    <link rel="stylesheet" href="{% static 'teacher-login.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<header class="header" style="background-color: white;">
    <nav class="nav-items" style="background-color: white;">
        <a href="home"><img src="{% static 'img/download.jpg' %}" style="width:100%; background-color:white;"></a>
    </nav>
</header>
<body>

    <div class="container-fluid d-flex justify-content-center align-items-center h100">
        <form method="post"
            class=" rounded w-50 d-flex justify-content-center flex-column align-items-center">
            {%csrf_token%}
            <input type="text" name="username" placeholder="username">
            <input type="text" name="firstname" placeholder="firstname">
            <input type="text" name="lastname" placeholder="lastname">
            <input type="text" name="emailId" placeholder="emailId">
            <input type="text" name="password" placeholder="password">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>